/* app css stylesheet */
body{
  background-color: #ede7e9;
  color: #303738;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.view1-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    max-width: 36rem;
}


.view1-image-container {
  width: 12rem; 
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  overflow-x: hidden;
  transition: all 0.5s ease;
  box-shadow: 0 0 0 black;
}

.view1-image-container img {
  width: auto;
  height: 100%;
  
}

.view1-image-container:hover {
  box-shadow: 0.25rem 0.25rem 0 #303738;
}

