/* app css stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: #ede7e9;
  color: #303738;
  font-family: 'Poppins';
}

.view1-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  max-width: 48rem;
}

.view1-image-container {
  width: 12rem;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  transition: all 0.5s ease;
  box-shadow: 0 0 0 black;
  border-radius: 0.3rem;
  cursor: pointer;
  position: relative;
}

.view1-image-container img {
  object-fit: cover;
  height: 100%;
  transition: all 0.5s ease;
}

.view1-image-container .image-details {
  color: white;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(2, 0, 24, 0.8) 0%,
    rgba(2, 0, 24, 0) 100%
  );
  display: none;
  flex-direction: column;
  gap: 0rem;
  padding: 0.5rem;
  justify-content: flex-end;
}

h3,
p {
  padding: 0;
  margin: 0;
  max-height: 2.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

/* .view1-image-container:hover {
  box-shadow: 0.25rem 0.25rem 0 #303738;
} */

.view1-image-container:hover img {
  transform: scale(1.2);
}

.view1-image-container:hover .image-details {
  display: flex;
}

.view1-image-container .icon {
  height: 1rem;
  width: 1rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: none;
}

.view1-image-container:hover .icon {
  display: block;
}
