<div ng-controller="View1Ctrl as vm">
  <input
    type="text"
    name="search bar"
    ng-model="vm.searchTerm"
    placeholder="Search..."
    ng-keypress="vm.searchOnEnter($event)"
  />
  <button ng-click="vm.searchImages()" ng-disabled="vm.isLoading">
    Search
  </button>
  <button
    ng-click="vm.changePage('prev')"
    ng-disabled="vm.currentPage < 2 || vm.isLoading"
  >
    Previous
  </button>
  <span
    >Page {{vm.currentPage}} {{vm.images.total_pages ? "of " +
    vm.images.total_pages : "" }}</span
  >
  <button
    ng-click="vm.changePage('next')"
    ng-disabled="vm.currentPage >= vm.images.total_pages || !vm.isLoading"
  >
    Next
  </button>
  <image-gallery info="vm.images"></image-gallery>
  <div image-gallery></div>
</div>
