<main ng-controller="View1Ctrl as vm">
  <div>
    <input
      type="text"
      name="search bar"
      ng-model="vm.searchTerm"
      placeholder="Search..."
      ng-keypress="vm.searchOnEnter($event)"
    />
    <button ng-click="vm.searchImages()">Search</button>
  </div>
  <div>
    <button
      ng-click="vm.changePage('prev')"
      ng-disabled="vm.currentPage < 2 || vm.isLoading"
    >
      Previous
    </button>
    <span
      >Page {{vm.currentPage}} {{vm.images.total_pages ? "of " +
      vm.images.total_pages : "" }}</span
    >
    <button
      ng-click="vm.changePage('next')"
      ng-disabled="vm.isLoading || vm.currentPage >= vm.images.total_pages"
    >
      Next
    </button>
  </div>

  <image-gallery info="vm" ng-if="vm.images.results.length > 0"></image-gallery>
</main>
