<main ng-controller="View1Ctrl as vm">
  <div class="search-group">
    <input
      type="text"
      name="search bar"
      ng-model="vm.searchTerm"
      placeholder="Search..."
      ng-keypress="vm.searchOnEnter($event)"
    />
    <button ng-click="vm.searchImages()">Search</button>
  </div>
  <div class="pagination-group">
    <button
      aria-label="Previous page"
      ng-click="vm.changePage('prev')"
      ng-disabled="vm.currentPage < 2 || vm.isLoading"
    >
      <img
        src="assets/icons/arrow-left-solid.svg"
        alt="arrow-left icon"
        class="icon"
        aria-hidden
      />
    </button>
    <p>
      Page {{vm.currentPage}} {{vm.images.total_pages ? "of " +
      vm.images.total_pages : "" }}
    </p>
    <button
      ng-click="vm.changePage('next')"
      ng-disabled="vm.isLoading || vm.currentPage >= vm.images.total_pages"
      aria-label="Next page"
    >
      <img
        src="assets/icons/arrow-right-solid.svg"
        alt="arrow-right icon"
        class="icon"
        aria-hidden
      />
    </button>
  </div>
  <p class="no-results" ng-if="vm.images.results.length < 1 && !vm.searchError">
    We couldn't find anything matching your search. <br />Try using fewer
    keywords or different terms.
  </p>
  <p class="no-results error" ng-if="vm.searchError">
    Oops! Something went wrong. Please try your search again later.
  </p>
  <image-gallery
    info="vm"
    ng-if="vm.images.results.length > 0 && !vm.searchError"
  ></image-gallery>
</main>
